
input[type=text]{
    width: 250px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

.text-size>input{
  width: 100px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=date] {
    width: 100px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
  }
img{
    width: 80px;
    height: 80px;

  }
select{
    width: 280px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.selectTime{
  width: 120px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.image-upload>input {
  display: none;
  width: 100px;
  height: 100px;
  align-items: center;
}
.imgsize{
  width: 100px;
  height: 100px;
}

.imgsize2{
  width: 160px;
  height: 160px;
}

.selectjoin{
  width: 65px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}